@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.header {
  display: flex;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-logo {
  max-width: 4rem;
}

.header-settings {
  font-family: 'Roboto Mono', monospace;
  text-transform: lowercase;
}
